<div class="success">
  <%= flash[:notice] %>
</div>

<div class="show_title">
  <span> <strong>Title:</strong> </span><%= @book.title %>
</div>

<div class="show_body">
  <span> <strong>Body:</strong> </span><%= @book.body %>
</div>

<%= link_to 'Edit', edit_book_path(@book.id) %><span> | </span>
<%= link_to 'Back', books_path %>